body {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    background-color: #F4F1E9; /* Ajout de la couleur de fond */
}

.titre-principal {
    text-align: center;
    text-decoration: underline red; /* Soulignement en rouge */
    color: black; /* Couleur du texte en noir */
}

.sous-titre {
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    color: black;
}

.activite {
    margin: 20px 0; /* Espace entre les activités */
}

.activite p {
    margin: 10px; /* Petite marge autour des paragraphes à l'intérieur de .activite */
}

.activite a {
    margin-left: 10px; /* Marge à gauche pour les liens à l'intérieur de .activite */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.spacer {
    margin-top: 60px; /* Espace entre les sections */
}
